@import '../vars.css';

.container {
    background-color: var(--alt);
    border-radius: 10px;
    border: none;
    color: var(--text_alt);
    width: 30%;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}

.container p {
    margin: 0px;
}

.bg_image{
    position: relative;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px;
}

.bg_image::before{
    content: '';
    background-image: url('../../Assets//Images/Cloud-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    opacity: 0.1;
}

.icon{
    position: relative;
    width: 200px;
}

.temp {
    height: 70px;
    line-height: 55px;
    padding-top: 10px;
    color: var(--text);
    font-size: 40px;
}

.temp > span {
    margin-top: 0px;
    color: var(--text);
    font-size: 100px;
    height: 130px;
}

.feelsLike{
    padding: 15px;
    padding-top: 10px;
}

.weatherD{
    padding: 20px;
    font-size: 25px;
    font-weight: 500;
}

.fecha{
    padding: 15px;
}

.location{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.locationIMG {
    height: 15px;
    margin-right: 5px;
}