@import '../vars.css';

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    margin: 0px 0px 30px 0px;
    color: var(--text);
    font-size: 15px;
    background-color: var(--alt);
    border-radius: 10px;
}