@import '../vars.css';

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 30px;
    margin: 0px 0px 20px 0px;

    background-color: var(--alt);
    border-radius: 10px;
    color: var(--text);
}

p {
    font-size: 15px;
}