.container {
    background-color: #1E213A;
    border: 1px solid rgba(0, 0, 0, 0.473);
    border-radius: 5px;
    width: 200px;
    color: #E7E7EB;
    
}

.city {
    font-weight: bold;
    font-size: 15px;
}