@import '../vars.css';

.form{
    box-sizing: border-box;
    width: 200px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px var(--text) solid;
    border-radius: 20px;
    margin: 0px;
    padding: 10px 7px;

}

.input {

    box-sizing: border-box;
    width: 150px;
    margin: 0px;
    margin-left: 7px;

    background-color: transparent;
    border: none;
    color: var(--text);
    outline: none;

    font-size: 15px;
}

.boton {
    background-color: transparent;
    cursor: pointer;
    
    width: 25px;
    height: 25px;
    padding: 0px;
    margin: 0px;
    
    display: flex;
    align-items: center;

    border: none;
    background-color: var(--text);
    border-radius: 15px;
}

.img {
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0px;
    border: none;
    display: flex;
    align-items: center;
}
