
.App {
  text-align: center;
}

.body {
  display: flex; 
  justify-content: space-between;
}

body{
  background: #100E1D;
}

* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

