@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.App {
  text-align: center;
}

.body {
  display: flex; 
  justify-content: space-between;
}

body{
  background: #100E1D;
  margin: 20px;

}

* {
  font-family: 'Raleway', sans-serif;
}

